@use "./partials/global";
@use "./partials/variables";
@use "./partials/mixins";


.hawaii-background-image {
    background-image: url(../assets/images/hawaii.jpg);
    @include mixins.bg-stack(no-repeat, 100% auto, center);
    @include mixins.phone {
        @include mixins.bg-stack(no-repeat, cover, center);
    }
}

.iceland-background-image {
    background-image: url(../assets/images/iceland.jpg);
    @include mixins.bg-stack(no-repeat, 100% auto, center);
    @include mixins.phone {
        @include mixins.bg-stack(no-repeat, cover, center);
    }
}

.greece-background-image {
    background-image: url(../assets/images/greece.jpg);
    @include mixins.bg-stack(no-repeat, 100% auto, center);
    @include mixins.phone {
        @include mixins.bg-stack(no-repeat, cover, center);
    }
}

.destination{
    padding: 9rem 6rem 6rem;
    @include mixins.tablet {
        padding: 7rem 3rem 3rem;   
    }
    @include mixins.phone {
        padding: 7rem 2rem 2rem; 
    }

    &__title {
        margin-bottom: 4rem;
        font-size: 5rem;
        font-weight: 700;
        color: variables.$primary-bg;
        @include mixins.tablet {
           text-align: center;
        } 
        @include mixins.phone {
            margin-bottom: 2rem;
            font-size: 3rem;
        }
    }

    &__tour-package {
    @include mixins.flex(center, center, row, wrap);
    @include mixins.tablet {
        @include mixins.flex(space-between, center, row, nowrap);
    }
    @include mixins.phone {
        @include mixins.flex(flex-start, center, column, nowrap);
    }
}

    &__details {
        background-color: variables.$white;
        text-align: center;
        min-width: 20%;
        padding: 1rem 1rem 3rem;
        margin: 0 2rem 2rem 0;
        border-radius: 5px;
        overflow: hidden;
        @include mixins.tablet {
            min-width: 30%; 
            margin: 1vh;
        }
        @include mixins.phone {
            width: 90%; 
            padding: 1rem 1rem 1rem;
        }
    }

    &__trip-day {
        font-size: 1rem;
        border-bottom:  2px solid variables.$black;
        margin-bottom: 1.5rem;
        @include mixins.phone {
            margin-bottom: 1rem;
        }
    }

    &__activity {
        background-color: variables.$primary-bg;
        padding: .5rem 1rem;
        margin-bottom: 1rem;
    }
}



