@use "./mixins";
@use "./variables";

* {
   margin: 0;
   box-sizing: border-box; 
}

body {
    font-family: Verdana, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

// for header
.header {
    @include mixins.flex(space-between, center, row, wrap);
    padding: 1.2rem 6rem;
    width: 100%;
    background-color: variables.$white;
    position: fixed;
    top: 0;
    z-index: 1;
    @include mixins.tablet {
        padding: 1.2rem 3rem;
    }
    @include mixins.phone {
        @include mixins.flex(flex-start, center, column, wrap);
    }

    &__name-logo {
        font-size: 1.20rem;
        font-weight: 700;
        color: variables.$primary-text;
        @include mixins.phone {
           margin-bottom: 3vw;
        }
    }
}

 .header-nav {
     width:35%;
     @include mixins.tablet {
        width:50%;
    }
    @include mixins.phone {
        width:100%;
    }

     &__link-list {
        @include mixins.flex(space-evenly, center, row, nowrap);
    }

    &__item {
        margin-right: 1rem;
        @include mixins.tablet {
            margin-right: 4vw;
        }
    }

     &__link{
        color: variables.$black;
        font-size: 1rem;
        font-weight: 400;
    }

    &__link:hover{
        color: variables.$primary-text;
        padding-bottom: .5rem;
        border-bottom: .2rem solid variables.$jaffa;
        @include mixins.tablet {
        color: variables.$black;
        padding-bottom: 0;
        border-bottom: 0;
        }
    }  

    &__link--active {
        padding-bottom: .5rem;
        border-bottom: .2rem solid variables.$jaffa;
    }
}

//  for footer
.footer {
    background-color: variables.$primary-bg;
    color: variables.$primary-text;
    padding: 3rem 6rem 3rem 6rem;
    @include mixins.flex(space-evenly, flex-start, row, nowrap); 
    @include mixins.tablet {
        @include mixins.flex(space-between, flex-start, column, nowrap);
        padding: 3rem 3rem 1rem 3rem;
    }
    @include mixins.phone {
        padding: 3rem 3rem 3rem 3rem;
    }

    &__contact,
    &__schedule,
    &__social-media {
        @include mixins.flex(flex-start, flex-start, column, nowrap);
        @include mixins.tablet {
            margin-bottom: 3vw; 
        }
   
    }

    &__contact {
        margin-left: 5.8rem; 
        margin-right: 1rem; 
        @include mixins.tablet {
            margin-left: 0; 
            margin-right: 0; 
        }
    }

    &__social-media{
        margin-right: 4rem;
        @include mixins.tablet {
            margin-right: 0; 
        }     
    }

    &__options {
    @include mixins.flex(); 
    @include mixins.phone {
        @include mixins.flex(flex-start, flex-start, column, nowrap);
    }
    }

    &__title {
        margin-bottom: 2rem;
        font-size: 1.31rem;
        font-weight: 700;
        @include mixins.tablet {
            margin-bottom: 1rem; 
        }
        @include mixins.phone {
            margin-bottom: .5rem; 
        }
    }

    &__option {
        font-size: .6rem;
        font-weight: 400;
        color: variables.$jaffa;
        margin-bottom: .5rem;
        @include mixins.phone {
            margin-top: .5rem;
        }
    }

    &__working-day,
    &__weekend-saturday,
    &__weekend-sunday {
        margin-right: 2rem;
    }

    &__link,
    &__hours {
        font-size: .8rem;
        color: variables.$primary-text; 
    }

    &__img-social {
        max-width: 1.5rem;
        max-height: 1.5rem;
        margin-right: 1.8rem;
        margin-top: .8rem;
        @include mixins.tablet {
            margin-top: 0;
        }
    }
}






