@mixin flex($justify-content: flex-start, $align-items: stretch, $flex-direction: row, $flex-wrap: nowrap){
    display:flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
}

@mixin bg-stack($background-repeat, $background-size, $background-position){
    background-repeat: $background-repeat;
    background-size:  $background-size;
    background-position: $background-position;
}           