$white:#FFFFFF;
$black:#000000;
$primary-bg:#FEFAF5;
$primary-text:#335576;
$jaffa:#DB7A4E;


$tablet-breakpoint: 768px;
$phone-breakpoint: 480px;






// / #FFFFFF
// nav bar background color

//  #335576
// logo/wordmark color
// footer titles and text
//  hero slogan color 
// recommendations title

// #DB7A4E
//  currently active page-underlined 
// footer subtitles
// hero ‘Get Started’ Button background color 

// #FEFAF5
// footer background color
// hero background color
// Activities background

